.wrapper {
  display: flex;
  flex-direction: column;
}

.years {
  @apply px-1;
  grid-area: years;
}

.months {
  @apply px-1;
  grid-area: months;
}

.days {
  @apply px-1;
  grid-area: days;
}

.hours {
  @apply px-1;
  grid-area: hours;
}

.minutes {
  @apply px-1;
  grid-area: minutes;
}

.seconds {
  @apply px-1;
  grid-area: seconds;
}
