.wrapper {
  @apply rounded-lg
	border border-gray-200
	bg-gray-50
	relative
	p-6
	flex flex-col gap-2;
}

.title {
  @apply text-left text-xl font-bold;
}

.ticker {
  @apply flex gap-2 text-center flex-wrap font-semibold;
}
