.wrapper {
  @apply rounded-lg
  flex justify-between
	border border-gray-200
	bg-gray-50
	p-6;
}

.lhs {
  @apply flex flex-col gap-6 justify-between;
}

.title {
  @apply text-left text-xl font-semibold;
}

.rhs {
  @apply flex flex-col gap-6 text-right;
}

.editDialog {
}
